In [1]:
import pandas as pd

In [2]:
csv_input = pd.DataFrame(pd.read_csv(filepath_or_buffer="C:/Users/Winte/Downloads/Book2.csv", encoding="ms932", sep=","))
#print(csv_input) non dataframe object

In [3]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Winte\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
import string
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Winte\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [5]:
df_t = pd.DataFrame(csv_input['Review Text'])
df_ind = pd.DataFrame(csv_input['Recommended IND'])
print(df_t.head(10))
l_nonreco = csv_input.loc[csv_input['Recommended IND'] == 0, ['Review Text']]
l_reco = csv_input.loc[csv_input['Recommended IND'] == 1, ['Review Text']]

#print(l_nonreco.head(10))

list_nonreco=l_nonreco.values.flatten()
#list_reco = list(chain(l_reco))
#print(list_nonreco)

                                         Review Text
0  Absolutely wonderful - silky and sexy and comf...
1  Love this dress! it sooo pretty. i happened to...
2  I had such high hopes for this dress and reall...
3  I love, love, love this jumpsuit. it fun, flir...
4  This shirt is very flattering to all due to th...
5  I love tracy reese dresses, but this one is no...
6  I aded this in my basket at hte last mintue to...
7  I ordered this in carbon for store pick up, an...
8  I love this dress. i usually get an xs but it ...
9  I'm 5"5' and 125 lbs. i ordered the s petite t...

In [ ]:
#LISTING WORDS CONNECTION

import sklearn
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0.1, max_df=0.5)

count_nonreco = cv.fit_transform(list_nonreco)
print(cv.get_feature_names())

In [6]:

#removing punctuations
string.punctuation=('!"#$%&()*+,-./:;<=>?@[\]^_`{|}~')

def remove_punctuation(text):
    no_punct = "".join([i for i in text if i not in string.punctuation])
    return no_punct


df_t["Review Text"] = df_t["Review Text"].apply(lambda x: remove_punctuation(x))

#df_t.head()

In [7]:
#TOKENIZING
tokenizer = RegexpTokenizer('\w+|\$[\d\.]+')
df_t["Review Text"] = df_t["Review Text"].apply(lambda x: tokenizer.tokenize(x.lower()))
print(df_t.head(10))

                                         Review Text
0  [absolutely, wonderful, silky, and, sexy, and,...
1  [love, this, dress, it, sooo, pretty, i, happe...
2  [i, had, such, high, hopes, for, this, dress, ...
3  [i, love, love, love, this, jumpsuit, it, fun,...
4  [this, shirt, is, very, flattering, to, all, d...
5  [i, love, tracy, reese, dresses, but, this, on...
6  [i, aded, this, in, my, basket, at, hte, last,...
7  [i, ordered, this, in, carbon, for, store, pic...
8  [i, love, this, dress, i, usually, get, an, xs...
9  [i, m, 55, and, 125, lbs, i, ordered, the, s, ...

In [9]:
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()

df_t["Review Text"] = df_t["Review Text"].apply(lambda x: 
                                                [lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in x])

df_t.head(10)

                                         Review Text
0  [absolutely, wonderful, silky, and, sexy, and,...
1  [love, this, dress, it, sooo, pretty, i, happe...
2  [i, have, such, high, hope, for, this, dress, ...
3  [i, love, love, love, this, jumpsuit, it, fun,...
4  [this, shirt, be, very, flatter, to, all, due,...
5  [i, love, tracy, reese, dress, but, this, one,...
6  [i, aded, this, in, my, basket, at, hte, last,...
7  [i, order, this, in, carbon, for, store, pick,...
8  [i, love, this, dress, i, usually, get, an, x,...
9  [i, m, 55, and, 125, lb, i, order, the, s, pet...

In [11]:
#REMOVE STOPWORDS
##IF SUCCESSED CHANGED ALL DF NAME BELOW

from nltk.corpus import stopwords
nltk.download("stopwords")
stop_words= stopwords.words("english")

stop_words = [x for x in stop_words if x not in ["not","no"]]

#print(stop_words)

df_t["Review Text"] = df_t["Review Text"].apply(lambda x: [item for item in x if item not in stop_words])
df_t.head()
#df_t.to_csv("test1.csv")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Winte\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                         Review Text
0  [absolutely, wonderful, silky, sexy, comfortable]
1  [love, dress, sooo, pretty, happen, find, stor...
2  [high, hope, dress, really, want, work, initia...
3  [love, love, love, jumpsuit, fun, flirty, fabu...
4  [shirt, flatter, due, adjustable, front, tie, ...

In [24]:
#concating
df_t["Recommend IND"] = df_ind

df_nonreco = df_t[df_t["Recommend IND"] == 0]
df_reco = df_t[df_t["Recommend IND"] == 1]

df_nonreco.to_csv("test1.csv")
df_reco.to_csv("test2.csv")

                                          Review Text  Recommend IND
2   [high, hope, dress, really, want, work, initia...              0
5   [love, tracy, reese, dress, one, not, petite, ...              0
10  [dress, run, small, esp, zipper, area, run, or...              0
22  [first, not, pullover, style, side, zipper, wo...              0
25  [love, material, didnt, really, look, long, dr...              0
                                         Review Text  Recommend IND
0  [absolutely, wonderful, silky, sexy, comfortable]              1
1  [love, dress, sooo, pretty, happen, find, stor...              1
3  [love, love, love, jumpsuit, fun, flirty, fabu...              1
4  [shirt, flatter, due, adjustable, front, tie, ...              1
6  [aded, basket, hte, last, mintue, see, would, ...              1

In [25]:
#COUNTING WORDS
df_nonrecowords =pd.DataFrame(pd.read_csv(filepath_or_buffer="C:/Users/Winte/Downloads/test1.csv", encoding="ms932", sep=","))

df_nonrecowords.head()
#print(df_non_recommendwords['Review Text'].value_counts())
#print(pd.DataFrame(l_reco.value_counts()).head())

,Unnamed: 0,Review Text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,2,['high','hope','dress','really','want','work','initially','order','petite',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,['love','tracy','reese','dress','one','not','petite','5','foot',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,['dress','run','small','esp','zipper','area','run','order','sp',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22,['first','not','pullover','style','side','zipper','would','not','purchase',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25,['love','material','didnt','really','look','long','dress','purchase','large',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN